body {
	background:  #180464;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
	max-width: 768px;
	margin: 100px auto;
	padding: 0 20px;
}

